<div class="backdrop">
    <div class="modal" data-modal="thanks">
        <div class="modal__content">
            <div class="modal__body">
                <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="29.9999" cy="30.1127" r="28.8241" stroke="#FF9900" />
                    <rect class="l1" x="17.1621" y="30.1475" width="1.11981" height="13.9354" rx="0.559903"
                        transform="rotate(-45 17.1621 30.1475)" fill="#FF9900" />
                    <rect class="l2" x="44.5547" y="21.1216" width="1.11981" height="25.7034" rx="0.559903"
                        transform="rotate(45 44.5547 21.1216)" fill="#FF9900" />
                </svg>

                <p><strong>Спасибо за заявку!</strong> <br> Наш менеджер свяжется с вами, <br> оставайтесь на связи</p>
                <a href="javascript:void(0)" class="btn close">Закрыть</a>
            </div>
        </div>
    </div>

    <div class="modal" data-modal="callback">
        <div class="modal__content">
            <div class="modal__body">
                <h2>Обратный <span class="orange">звонок</span></h2>
                <div class="subtitle">Оставьте свои контакты, и менеджер с вами свяжется</div>

                <div class="callback form">
                    <form action="">
                        <span>Оставьте номер телефона</span>

                        <div class="form-group">
                            <input class="phone-mask" type="text" placeholder="+7 (---) --- -- --">
                            <button class="btn">Оставить</button>
                        </div>
                    </form>
                </div>

                <div class="social">
                    <span>Задать вопрос напрямую здесь:</span>
                    <div class="social__list line">
                        <div>
                            <a href="javascript:void(0)" class="btn btn-blue"><svg class="icon">
                                    <use xlink:href="img/symbol-defs.svg#icon-telegram"></use>
                                </svg> Telegram</a>
                            <a href="javascript:void(0)" class="btn btn-green"><svg class="icon">
                                    <use xlink:href="img/symbol-defs.svg#icon-whatsapp"></use>
                                </svg> What’s App</a>
                            <a href="javascript:void(0)" class="btn btn-purple"><svg class="icon">
                                    <use xlink:href="img/symbol-defs.svg#icon-viber"></use>
                                </svg> Viber</a>
                        </div>
                        <a href="javascript:void(0)">Политика конфиденциальности</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-modal="order">
        <div class="modal__content">
            <div class="modal__body">
                <h2>Заказать <span class="orange">ремонт</span></h2>
                <div class="subtitle">Оставьте свои контакты, и мы свяжемся с вами для составления
                    сметы</div>

                <div class="callback form">
                    <form action="">
                        <span>Оставьте номер телефона</span>

                        <div class="form-group">
                            <input class="phone-mask" type="text" placeholder="+7 (---) --- -- --">
                            <button class="btn">Оставить</button>
                        </div>
                    </form>
                </div>

                <div class="social">
                    <span>Задать вопрос напрямую здесь:</span>
                    <div class="social__list line">
                        <div>
                            <a href="javascript:void(0)" class="btn btn-blue"><svg class="icon">
                                    <use xlink:href="img/symbol-defs.svg#icon-telegram"></use>
                                </svg> Telegram</a>
                            <a href="javascript:void(0)" class="btn btn-green"><svg class="icon">
                                    <use xlink:href="img/symbol-defs.svg#icon-whatsapp"></use>
                                </svg> What’s App</a>
                            <a href="javascript:void(0)" class="btn btn-purple"><svg class="icon">
                                    <use xlink:href="img/symbol-defs.svg#icon-viber"></use>
                                </svg> Viber</a>
                        </div>
                        <a href="javascript:void(0)">Политика конфиденциальности</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="footer__col">
            <img src="img/logo.svg" alt="" class="footer__logo">
            <div class="footer__phone">
                <a href="tel:+79899999999" class="footer__phone-num">+7 (989) 999-99-99</a>
                <a href="javascript:void(0)" data-modal="callback" class="footer__phone-link">Перезвоните мне</a>
            </div>
        </div>
        <div class="footer__col">
            <div class="footer__social">
                <a href="javascript:void(0)" class="blue"><svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-telegram"></use>
                    </svg> Telegram</a>
                <a href="javascript:void(0)" class="green"><svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-whatsapp"></use>
                    </svg> What’s app</a>
                <a href="javascript:void(0)" class="purple"><svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-viber"></use>
                    </svg> Viber</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer__copy">Copyright “PRO Ремонт” 2021</div>
        <a href="javascript:void(0)">Политика конфиденциальности</a>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="https://github.hubspot.com/odometer/odometer.js"></script>
<script src="js/wNumb.min.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>